:root {
    --primary-color: burlyWood;
    --secondary-color: cornflowerBlue;
    --tertiary-color: thistle;

    --primary-text-color: black;
    --error-text-color: red;

    --primary-font: 'Squada One', 'Courier New', Courier, monospace;

    --std-border-radius: 0.25rem;

}

* {
    box-sizing: border-box;
    padding: 0px;
}
button {
    background-color: cornflowerblue;
    border-radius: var(--std-border-radius);
    font-family: var(--primary-font);
    padding: 1rem;
}
#password-input {
    border: 1px solid black;
    border-radius: var(--std-border-radius);
    padding: 2rem;
}
html {
    font-size: 62.5%;
    font-family: var(--primary-font);
}
input[type=checkbox] {
    background: transparent;
    background-color: cornflowerblue;
    flex: none;
}
input[type=number] {
    font-family: var(--primary-font);
}
label {
    display: flex;
    align-items: center;
}
main {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
small {
    color: var(--error-text-color);
}
textarea {
    background: transparent;
    background-color: var(--tertiary-color);
    border: 2px solid black;
    border-radius: var(--std-border-radius);
    font-family: var(--primary-font);
    height: 8rem;
    margin: 2rem;
    padding: 0rem 0rem 2rem 0rem;
    width: 220px;
}
.output {
    display: flex;
    flex-direction: column;
    align-items: center;   
}